* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #151515;
  height: 100vh;
  color: white;
}

nav {
  width: 100%;
  height: 50px;
  background-color: black;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

nav a:hover {
  text-decoration: underline;
}

h1 {
  text-align: center;
  margin-top: 60px; /* fixed nav */
}

#addMovieButton {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #4DBF00;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#addMovieButton:hover {
  background-color: #45a300;
}

#movieButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  list-style: none;
}

#movieButtons li {
  margin: 10px;
}

#movieButtons button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#movieButtons button:hover {
  background-color: #555;
}

#movieDetails {
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
}

#movieDetails img {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin: 10px 0;
}

#formContainer {
  display: none; /* visibility */
}
